In [82]:
import pandas as pd
import sys

"""importando as bibliotecas"""

'importando as bibliotecas'

In [93]:
""""Essa linha de código serve para todas as funções que infelizmente não estão vindo de data_manipulation.py"""

def columns_format(df):
    """Função para formatar os nomes das colunas"""
    df.columns = df.columns.str.lower().str.replace(' ', '_').str.strip()
    return df



def columns_convert(df, columns, type):
    """Função para alterar o tipo das colunas"""
    for column in columns:
        df[column] = df[column].astype(type)
    return df

def study_null_values(df, column):
    """Função para estudar os valores nulos"""
    return df[df[column].isnull()]


def total_sales_columns(df, columns):
    """Função para somar as vendas"""
    df['total_sales'] = df[columns].sum(axis=1)
    return df

In [84]:
df = pd.read_csv('../datasets/games.csv')

df.head()

,Name,Platform,Year_of_Release,Genre,NA_sales,EU_sales,JP_sales,Other_sales,Critic_Score,User_Score,Rating
0,Wii Sports,Wii,2006.0,Sports,41.36,28.96,3.77,8.45,76.0,8,E
1,Super Mario Bros.,NES,1985.0,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
2,Mario Kart Wii,Wii,2008.0,Racing,15.68,12.76,3.79,3.29,82.0,8.3,E
3,Wii Sports Resort,Wii,2009.0,Sports,15.61,10.93,3.28,2.95,80.0,8,E
4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN

In [85]:
df.info()
"""Analisando os dados algumas colunas devem ser convertidas para o tipo correto
year_of_release para int
user_score para float

"""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             16713 non-null  object
 1   Platform         16715 non-null  object
 2   Year_of_Release  16446 non-null  float64
 3   Genre            16713 non-null  object
 4   NA_sales         16715 non-null  float64
 5   EU_sales         16715 non-null  float64
 6   JP_sales         16715 non-null  float64
 7   Other_sales      16715 non-null  float64
 8   Critic_Score     8137 non-null   float64
 9   User_Score       10014 non-null  object
 10  Rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB

'Analisando os dados algumas colunas devem ser convertidas para o tipo correto\nyear_of_release para int\nuser_score para float\n\n'

In [86]:

df = columns_format(df)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16446 non-null  float64
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(6), object(5)
memory usage: 1.4+ MB
None

In [87]:
#estudando os dados nulos em year_of_release
study_null_values(df, 'year_of_release')

#como estamos obtendo dificuldades com os valores nulos dessa coluna para nao perdermos informações 
#podemos substituir por um valor numerico que nao gere distorções para a nossa analise.
#uma opção serie substituir pela media porem isso pode afetar nos filtros, portanto substituiremos 
#pelo valor 0

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
183,Madden NFL 2004,PS2,NaN,Sports,4.26,0.26,0.01,0.71,94.0,8.5,E
377,FIFA Soccer 2004,PS2,NaN,Sports,0.59,2.36,0.04,0.51,84.0,6.4,E
456,LEGO Batman: The Videogame,Wii,NaN,Action,1.80,0.97,0.00,0.29,74.0,7.9,E10+
475,wwe Smackdown vs. Raw 2006,PS2,NaN,Fighting,1.57,1.02,0.00,0.41,NaN,NaN,NaN
609,Space Invaders,2600,NaN,Shooter,2.36,0.14,0.00,0.03,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16373,PDC World Championship Darts 2008,PSP,NaN,Sports,0.01,0.00,0.00,0.00,43.0,tbd,E10+
16405,Freaky Flyers,GC,NaN,Racing,0.01,0.00,0.00,0.00,69.0,6.5,T
16448,Inversion,PC,NaN,Shooter,0.01,0.00,0.00,0.00,59.0,6.7,M
16458,Hakuouki: Shinsengumi Kitan,PS3,NaN,Adventure,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16522,Virtua Quest,GC,NaN,Role-Playing,0.01,0.00,0.00,0.00,55.0,5.5,T

In [88]:
df['year_of_release'] = df['year_of_release'].fillna(0)

In [89]:
df = columns_convert(df, ['year_of_release'], int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16715 entries, 0 to 16714
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             16713 non-null  object
 1   platform         16715 non-null  object
 2   year_of_release  16715 non-null  int32
 3   genre            16713 non-null  object
 4   na_sales         16715 non-null  float64
 5   eu_sales         16715 non-null  float64
 6   jp_sales         16715 non-null  float64
 7   other_sales      16715 non-null  float64
 8   critic_score     8137 non-null   float64
 9   user_score       10014 non-null  object
 10  rating           9949 non-null   object
dtypes: float64(5), int32(1), object(5)
memory usage: 1.3+ MB

In [90]:
study_null_values(df, 'user_score')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,NaN,NaN,NaN
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,NaN,NaN,NaN
5,Tetris,GB,1989,Puzzle,23.20,2.26,4.22,0.58,NaN,NaN,NaN
9,Duck Hunt,NES,1984,Shooter,26.93,0.63,0.28,0.47,NaN,NaN,NaN
10,Nintendogs,DS,2005,Simulation,9.05,10.95,1.93,2.74,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016,Action,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16711,LMA Manager 2007,X360,2006,Sports,0.00,0.01,0.00,0.00,NaN,NaN,NaN
16712,Haitaka no Psychedelica,PSV,2016,Adventure,0.00,0.00,0.01,0.00,NaN,NaN,NaN
16713,Spirits & Spells,GBA,2003,Platform,0.01,0.00,0.00,0.00,NaN,NaN,NaN
16714,Winning Post 8 2016,PSV,2016,Simulation,0.00,0.00,0.01,0.00,NaN,NaN,NaN

In [91]:
"""nas colunas user_score e critic_score temos valores nulos, vamos substituir pela media, porem os valores tbd estao atrapalhando"""
df[df['user_score'] == 'tbd'].head(10)

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
119,Zumba Fitness,Wii,2010,Sports,3.45,2.59,0.00,0.66,NaN,tbd,E
301,Namco Museum: 50th Anniversary,PS2,2005,Misc,2.08,1.35,0.00,0.54,61.0,tbd,E10+
520,Zumba Fitness 2,Wii,2011,Sports,1.51,1.03,0.00,0.27,NaN,tbd,T
645,uDraw Studio,Wii,2010,Misc,1.65,0.57,0.00,0.20,71.0,tbd,E
657,Frogger's Adventures: Temple of the Frog,GBA,0,Adventure,2.15,0.18,0.00,0.07,73.0,tbd,E
718,Just Dance Kids,Wii,2010,Misc,1.52,0.54,0.00,0.18,NaN,tbd,E
726,Dance Dance Revolution X2,PS2,2009,Simulation,1.09,0.85,0.00,0.28,NaN,tbd,E10+
821,The Incredibles,GBA,2004,Action,1.15,0.77,0.04,0.10,55.0,tbd,E
881,Who wants to be a millionaire,PC,1999,Misc,1.94,0.00,0.00,0.00,NaN,tbd,E
1047,Tetris Worlds,GBA,2001,Puzzle,1.25,0.39,0.00,0.06,65.0,tbd,E

In [102]:
""""como solução podemos trata-los como nulos e substituir pela media"""
df['user_score'] = df['user_score'].replace('tbd', None)

mean_user_score = df['user_score'].dropna().mean()

print(mean_user_score)

TypeError: can only concatenate str (not "float") to str

In [95]:
"""substituindo os valores nulos pela media"""
df['user_score'] = df['user_score'].fillna(mean_user_score)

In [103]:
"""Podemos fazer o mesmo para critic_score"""
mean_critic_score = df['critic_score'].dropna().mean()
print(mean_critic_score)
df['critic_score'] = df['critic_score'].fillna(mean_critic_score)

68.96767850559173

In [ ]:

"""
é interessante notar que depois de trabalharmos com os valores nulos das colunas user_score e critic_score, 
percebemos que todos os valores nulos em rating seguem os valores das medias, vamos testar a teoria se são todos mesmos,
mas também é interessante notar que a coluna rating é uma coluna categorica, portanto não podemos substituir pela media
podemos optar entao, apesar de ser uma parcela significativa dos dados optar por criar um df sem esses valores nulos,
para usa-lo em analises que dependam de rating.
"""
study_null_values(df, 'rating')

,name,platform,year_of_release,genre,na_sales,eu_sales,jp_sales,other_sales,critic_score,user_score,rating
1,Super Mario Bros.,NES,1985,Platform,29.08,3.58,6.81,0.77,68.967679,7.125046,NaN
4,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,11.27,8.89,10.22,1.00,68.967679,7.125046,NaN
5,Tetris,GB,1989,Puzzle,23.20,2.26,4.22,0.58,68.967679,7.125046,NaN
9,Duck Hunt,NES,1984,Shooter,26.93,0.63,0.28,0.47,68.967679,7.125046,NaN
10,Nintendogs,DS,2005,Simulation,9.05,10.95,1.93,2.74,68.967679,7.125046,NaN
...,...,...,...,...,...,...,...,...,...,...,...
16710,Samurai Warriors: Sanada Maru,PS3,2016,Action,0.00,0.00,0.01,0.00,68.967679,7.125046,NaN
16711,LMA Manager 2007,X360,2006,Sports,0.00,0.01,0.00,0.00,68.967679,7.125046,NaN
16712,Haitaka no Psychedelica,PSV,2016,Adventure,0.00,0.00,0.01,0.00,68.967679,7.125046,NaN
16713,Spirits & Spells,GBA,2003,Platform,0.01,0.00,0.00,0.00,68.967679,7.125046,NaN
16714,Winning Post 8 2016,PSV,2016,Simulation,0.00,0.00,0.01,0.00,68.967679,7.125046,NaN

In [ ]:
df_null = df[df['rating'].isnull()]
print(f'o DataFrame com os valores nulos apenas em rating tem {df_null.shape[0]} linhas')

df_null = df_null[df_null['user_score']==mean_user_score]
df_null = df_null[df_null['critic_score']==mean_critic_score]

print(f'O DataFrame com valores nulos em rating, user_score e critic_score tem {df_null.shape[0]} linhas')
print()
print(f'Ou seja cerca de {6667/6766*100}% das linhas com valores nulos em rating também tem valores nulos em user_score e critic_score')

df_rating = df.dropna(subset='rating').reset_index(drop=True)
#agora df_null é um dataframe sem os valores nulos em rating
print(df_rating.head())

o DataFrame com os valores nulos apenas em rating tem 6766 linhas
O DataFrame com valores nulos em rating, user_score e critic_score tem 6667 linhas

Ou seja cerca de 98.53680165533551% das linhas com valores nulos em rating também tem valores nulos em user_score e critic_score
                    name platform  year_of_release     genre  na_sales  \
0             Wii Sports      Wii             2006    Sports     41.36
1         Mario Kart Wii      Wii             2008    Racing     15.68
2      Wii Sports Resort      Wii             2009    Sports     15.61
3  New Super Mario Bros.       DS             2006  Platform     11.28
4               Wii Play      Wii             2006      Misc     13.96

   eu_sales  jp_sales  other_sales  critic_score  user_score rating
0     28.96      3.77         8.45          76.0         8.0      E
1     12.76      3.79         3.29          82.0         8.3      E
2     10.93      3.28         2.95          80.0         8.0      E
3      9.14      6.50         2.88          89.0         8.5      E
4      9.18      2.93         2.84          58.0         6.6      E

In [ ]:
"""criando a coluna com o valor total de vendas"""